@font-face {
    font-family: "Pacifico";
    src: url(../fonts/Pacifico/Pacifico-Regular.ttf);
}

#nav{
    background-color:#00B7F0;
    width: 100%;
    height: 100px;
    display: flex;
    position: fixed;
    top: 0;
}

h1{
    font-family:Pacifico;
    font-size: 45px;
    color: #7C00F0;
}

#navcont1{
    width: 50%;
    height: 100px;
    display: flex;
    margin-left: 80px;
}

#navcont2{
    width: 50%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 15px;
}



ul{
    display: flex;
}

li{
    display: flex;
    text-decoration: none;
    margin-left: 20px;
    font-family:Pacifico;
    font-size: 35px;
    color:#7C00F0;
}

a{
    text-decoration: none;
    color: #7C00F0;
}

#cont1{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.carbio{
    display: flex;
}
.tama単oI{
    width: 530px;
    height: 350px;
    margin-left: 300px;
    margin-top: 20px;
}

.tama単oI2{
    width: 530px;
    height: 460px;
    margin-left: 300px;
    margin-top: 20px;
}

.tama単oI3{
    width: 530px;
    height: 405px;
    margin-left: 300px;
    margin-top: 20px;
}

.tama単oI4{
    width: 530px;
    height: 520px;
    margin-left: 300px;
    margin-top: 20px;
}

.carpar{
    width: 30%;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 20px;
    font-family: pacifico;
}

footer{
    margin-top: 30px;
    background-color:#00B7F0;
    width: 100%;
    height: 100px;
    display: flex;
}

#contfot{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
}

i{
    margin-top: 13px;
}
